.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-basic {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #333;
  color: #4b4c4d;
}

.footer-basic .social {
  text-align: left;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: white;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  float: right;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.aboutProjectWrapper {
  margin: 285px;
  text-align: center;
}

.aboutProjectWrapper>img {
  margin: 10px;
}

.joiningSection {
  margin-top: 10px;
}

.joiningSection p,
.joiningSection a {
  font-size: 12px;
}

.haveAccount a,
.forgotPassLink a,
.joiningSection a {
  color: #ff9d00 !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.productListWrapper {
  min-height: 65vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px;
}

.tableWrapper {
  width: 1176px;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-height: 585px;
  border-radius: 1em;
}

thead {
  background-color: rgba(108, 122, 224, 0.7);
  color: #fff;
  font-size: 18px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 1em;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1em;
}

table tr:first-child th:last-child {
  border-top-right-radius: 1em;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1em;
}

th,
td {
  padding-top: 18px;
  padding-bottom: 18px;
}

.col1 {
  width: 15%;
}

.col2 {
  width: 35%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 10%;
}

.col4 {
  width: 15%;
}

.purchaseClass {
  color: blue
}

.purchaseClass:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: rgba(192, 192, 192, 0.3)
}

.paymentForm {
  width: 600px;
  margin: 180px 590px;
  padding: 30px;
}

.paymentFormGroup {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

.paymentFormGroup label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
}

.StripeElement {
  width: 100%;
}

.cardElement {
  margin-bottom: 5px;
}

.paymentFormGroup label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

.paymentForm label>span {
  width: 120px;
  text-align: right;
  margin-right: 30px;
}

.paymentFormField {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}

.paymentFormField::-webkit-input-placeholder {
  color: #CFD7E0;
}

.paymentFormField::-moz-placeholder {
  color: #CFD7E0;
}

.paymentForm button {
  float: left;
  display: block;
  background: rgba(108, 122, 224, 0.7);
  color: white;
  box-shadow: 0 7px 14px 0 rgb(49 49 93 / 10%), 0 3px 6px 0 rgb(0 0 0 / 8%);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
  cursor: pointer;
}

.paymentForm button:disabled {
  background-color: #cccccc;
}

.paymentFormInfo {
  margin-left: 50px;
  margin-bottom: 20px;
}

.rowBlk {
  display: flex;
  flex-wrap: wrap;
}

.rowBlk .colBlk6 {
  flex: 0 50%;
  width: 50%;
  text-align: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}